@tailwind base;
@tailwind components;
@tailwind utilities;


/* microsoft Edge input 눈 없애기 */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --primary: 256 83% 77%;
    --background-01: 0 0% 100%;
    --ui-01: 0 0% 96%;
    --ui-02: 0 0% 98%;
    --text-01: 240 7% 12%;
    --text-02: 240 12% 34%;
    --text-03: 134, 142, 150;
    --line-01: 0 0% 85%;
    --danger: 6 100% 69%;
    --success: 199 100% 62%;
    --background-02: 241, 243, 245;       
    --font-pretendard: "Pretendard", sans-serif;
    --font-paperlogy: "Paperlogy", sans-serif;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --foreground: 240 10% 3.9%;
  }

  /* 다크모드 설정(이긴 한데 그냥 똑같음) */
  .dark {
    --primary: 256 83% 77%;
    --ui-background: 0 0% 100%;
    --ui-01: 0 0% 96%;
    --ui-02: 0 0% 98 --text-01: 240 7% 12%;
    --text-02: 240 12% 34%;
    --line-01: 0 0% 85%;
    --danger: 6 100% 69%;
    --success: 199 100% 62%;
  }
}

@layer base {
}

@layer components {
  .d-l {
    @apply !text-d1 font-paperlogy;
  }

  .d-m {
    @apply !text-d2 font-paperlogy;
  }

  .d-s {
    @apply !text-d3 font-paperlogy;
  }

  .h-l {
    @apply !text-h1 font-pretendard;
  }

  .h-m {
    @apply !text-h2 font-pretendard;
  }

  .h-s {
    @apply !text-h3 font-pretendard;
  }

  .t-l {
    @apply !text-t1 font-pretendard;
  }

  .t-m {
    @apply !text-t2 font-pretendard tracking-wide2;
  }

  .t-s {
    @apply !text-t3 font-pretendard tracking-wide1;
  }

  .l-l {
    @apply !text-l1 font-paperlogy tracking-wide1;
  }

  .l-m {
    @apply !text-l2 font-paperlogy tracking-wide5;
  }

  .l-s {
    @apply !text-l3 font-paperlogy tracking-wide5;
  }

  .b-l {
    @apply !text-b1 font-pretendard tracking-wide5;
  }

  .b-m {
    @apply !text-b2 font-pretendard tracking-wide3;
  }

  .b-s {
    @apply !text-b3 font-pretendard tracking-wide4;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
