name: Create Release
on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:  
      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true
          makeLatest: true